* {
    margin: auto;
    text-align: center;
}

body {
    margin: auto;
    width: 100%;
}

.content-container {
    margin: auto;
    width: 80%;
}

.brand-logo {
    font-family: 'Russo One', sans-serif;
    font-size: 3rem !important;
    margin-right: 300px !important;
    display: inline-block;
    height: 100%;
}

li:hover {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

form {
    width: 30%;
}

.right {
    padding-right: 80px;
}

.form-options {
    display: flex;
    justify-content: center;
    align-items: center;

}

.movie-card {
    margin-bottom: 20px;
}

.modal-trigger {
    margin-bottom: 10px;
    width: 90%;
}

#resulting-movies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.grid-color {
    background-color: blue;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none !important;
}

@media screen and (max-width: 576px) {
   /* .nav-wrapper {
       width: 100%;
   }; */
    .brand-logo {
        font-family: 'Russo One', sans-serif;
        font-size: 1.8rem !important;
    }
  }